body{
    font-family:'Raleway';
    margin: 0px;
    background-color: #87CEEB;
}

.topbar{
    display: inline-flex;
    height: 100px;
    width:auto;
    }
nav ul{
    margin-top: 50px;
    list-style: none;
    padding-left: 100px;
    display: inline-flex;
}
nav li{
    cursor: pointer;
    margin-left: 50px;
    transition: 200ms;
}
nav li:hover{
    transform: scale(1.1);
    border-bottom: 2px solid #FF7F50;
}
.topbar .right-nav{
    
    margin-left: 400px;
    display: inline-flex;   
    }
.top-button{
    cursor: pointer;
    padding: 7px 17px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: 200ms;
}
.top-button:hover{
    background-color: #FF7F50;
    color: rgb(0, 0, 0);
    border: none;
    transform: scale(1.2);
}

.content-box{
    height: 800px;
    width: auto;
}
/* yellow box tilt */
.decoration-box{
    position: absolute;
    height: 450px;
    width: 950px;
    margin-top: -300px;
    margin-left: 50px;
    background: #FFCC00;
    transform: rotate(130deg);
    z-index: -1;
}

/* ebi image alignment */

.img-box-right{
    display: inline-flex;
    height: 500px;
    width: 500px;
    float: right;
    
}
.circle-face{
    display: inline-block;
    background-color:#FFCC00;
    border-radius: 50%;
    width: 450px; 
    height: 450px;
    margin-top: 0px;               
    margin-left: 700px;
    transform: rotate(230deg);
}
  .circle-face > *{
    position: absolute;
    display: inline-block;
    width: 440px;
    height: 520px;                  
    margin-top: -65px;              
    margin-left: 5px;
    background: none no-repeat center bottom / 170px;
    border-radius: 0 0 250px 250px;     
    
  }

  /* social icons */
 .svg-1{
    position: absolute;
    margin: 100px 0px 0px -30px;
    height: 50px;
    width: auto;
 }
 .svg-2{
    position: absolute;
    margin: 200px 0px 0px 380px;
    height: 50px;
    width: auto;
 } 
.svg-3{
    position: absolute;
    margin: 300px 0px 0px -30px;
    height: 50px;
    width: auto;
 }
 .svg-4{
    position: absolute;
    margin: 450px 0px 0px 300px;
    height: 50px;
    width: auto;
 }
  /* end of image */
  /* head text box */
  .text-box{
    position: absolute;
    height: 500px;
    width: 800px;
  }
  .text-box h1{
    font-size: 70px;
    font-weight: lighter;
    margin: 40px 200px 30px 150px ;

}
  .text-box p{
    line-height: 30px;
    margin: 0px 200px 0px 150px ;
 
  }
  .text-box button{
    cursor: pointer;
    margin: 40px 150px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    outline: none;
}

.social-bar{
    margin: 40px 200px 30px 150px ;
    height: 50px;
    width: 150px;
}